body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;

    background: linear-gradient(180deg, #92E3A9 82.08%, rgba(146, 227, 169, 0.5) 100%);
    min-height: 100vh;
}

.page {
    width: 1000px;
    margin: 0 auto;
    padding-top: 65px;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#man {
    width: 417px;
    height: 433.64px;
}

nav {
    font-family: 'Mulish', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
}

ul {
    display: flex;
    gap: 48px;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a {
    opacity: 0.5;
}

a {
    text-decoration: none;
    color: #1F1534;
    transition: 0.3s;
}

ul li a:hover {
    font-weight: bold;
    opacity: 1;
    transition: 0.3s;
}

h1 {
    font-size: 49px;
    line-height: 56px;
    color: #1F1534;

    width: 490px;
    
    font-weight: normal;
}

h1 span {
    color: #DEF7E5;
    font-weight: bold;
}

h1, ul {
    font-family: 'Mulish', sans-serif;
}

p {
    margin: 40px 0;
    font-size: 14px;
    line-height: 28px;
    color: #DEF7E5;
    font-weight: 500;
}

button {
    color: #DEF7E5;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;

    background: #417261;
    border: none;
    padding: 14px 32px 15px;
    border-radius: 4px;
    gap: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition: 0.3s;
}

button:hover {
    background: #305347;
    transition: 0.3s;
}

footer {
    margin-top: 80px;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
}

footer a {
    font-weight: bold;
}

#balls {
    position: fixed;
    bottom: 0;
    right: 0;
}